<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ECI MES | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./img/eci_logo.png">

    <!-- Ionicons -->
    <link rel="stylesheet" href="./css/ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="./css/googleFonts.css" rel="stylesheet">
    <!-- comboList styles-->
    <link rel="stylesheet" href="./css/comboList.css">
    <link rel="manifest" href="./manifest.json"
 
    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="./plugins/jquery/jquery.min.js"></script>

    <script src="./js/comboList.js"></script>
    <script src="./js/pwa.js"></script>
</head>

<body style="background-color: #f4f6f9">

    <div class="container-fluid row mt-4 mx-0">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="login-logo">
                <img src="../img/eci_logo.png" alt="ECI Logo" class="brand-image">
                <a href="/"><b>ECI MES</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Zeskanuj kod operatora<br> lub<br> wybierz operatora z listy:</p>

                    <form autocomplete="off" action="/login" method="post">
                        <div class="input-group mb-3">
                            <input id="loginInput" type="text" class="form-control input" placeholder="Nazwa operatora"
                                name="user">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block mb-2">Zaloguj się</button>
                            <p id="errorText" class="mb-0" style='color: red; text-align: center;'>
                                <%= locals.error %>
                            </p>
                        </div>
                        <!-- /.col -->
                    </form>
                </div>
                <!-- /.login-card-body -->
            </div>

        </div>
        <div class="col-sm-3"></div>
    </div>
    <!-- /.login-box -->
    <script>
        var users = []

        function getUsers() {
            $.ajax({
                url: '/users',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    users = response.map((obj) => {
                        return obj.name
                    })
                    autocomplete(document.getElementById("loginInput"), users);
                },
                timeout: 2000
            });
        }
        function loginStatusPolling() {
            $.ajax({
                url: '/loginData',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    try {
                        var machineData = JSON.parse(response)
                        if (machineData.lastScannedText.text != "") {
                            $('#errorText').text('Brak operatora "' + machineData.lastScannedText.text + '" na liście zarejestrowanych operatorów!')
                        }
                        if (machineData.user != "")
                            window.location.reload()
                    } catch (ex) {
                        console.log("Błąd parsowania JSON")
                    }

                },
                error: function (err) {

                },
                complete: function () {
                    setTimeout(loginStatusPolling, 1000)
                },
                timeout: 2000
            });
        }
        setTimeout(loginStatusPolling, 500)
        getUsers()
    </script>
</body>

</html>