<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.83">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>ECI MES</title>

  <link rel="icon" href="./img/eci_logo.png">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="./css/adminlte.css">
  <!-- Google Font: Source Sans Pro  -->
  <link href="./css/googleFonts.css" rel="stylesheet">
    <!-- Ionicons -->
  <link rel="stylesheet" href="./css/ionicons.css">

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="./plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4  -->
  <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App  -->
  <script src="./js/adminlte.min.js"></script>
  <!-- Moment.js -->
  <script src="./plugins/moment/moment-with-locales.js"></script>

  <script src="./js/actTime.js"></script>
</head>

<body>
  <!-- MODAL -->
  <div class="modal fade" id="referenceConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Potwierdź ukończenie referencji!</h5>
        </div>
        <div class="modal-body">
          Czy produkacja referencji została ukończona?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie, jeszcze nie!</button>
          <button type="button" id="referenceFinishedBtn" class="btn btn-primary">Tak, zakończona!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- REAL BODY -->
  <div class="content-wrapper m-0" style="min-height: 300px;">
    <div class="container-fluid pt-2">
      <div class="row" style="min-height: 50px;">
        <div class="col-12">
          <div class="row container-fluid p-2 mb-3 mx-0 rounded border bg-white">
            <img src="../img/eci_logo_big.png" style="max-height: 75px;">
            <div class="flex-grow-1">
              <div class="row">
                <h2 class="ml-4">Electrical Components International</h2>
              </div>
              <div class="row">
                <h3 class="ml-4">Operator: <%= locals.user %>
                    </h2>
                    <h3 id="actualDate" class="ml-auto mr-2">
                      </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <% if(locals.machineState=="Praca" ) { %>
            <div id="MachineStateDiv" class="small-box bg-success">
              <% } else if(locals.machineState=="Awaria" ) { %>
                <div id="MachineStateDiv" class="small-box bg-danger">
                  <% } else if(locals.machineState=="Postój" ) { %>
                    <div id="MachineStateDiv" class="small-box bg-light">
                      <% }  else if(locals.machineState=="Przezbrojenie" ) { %>
                        <div id="MachineStateDiv" class="small-box bg-warning">
                          <% } %>%>
                        <div class="inner py-0">
                          <h3>Stan maszyny:</h3>
                          <div class="row">
                            <% if(locals.machineState=="Praca" ) { %>
                              <h4 class="pt-2 ml-2">Praca: &nbsp</h4>
                              <% } else if(locals.machineState=="Awaria" ) { %>
                                <h4 class="pt-2 ml-2">Awaria: &nbsp</h4>
                                <% } else if(locals.machineState=="Postój" ) { %>
                                  <h4 class="pt-2 ml-2">Przerwa: &nbsp</h4>
                                  <% } else if(locals.machineState=="Przezbrojenie" ) { %>
                                    <h4 class="pt-2 ml-2">Przezbrojenie: &nbsp</h4>
                                    <% } %>
                                    <h3 id="machineStateTimeDiv">
                                    </h3>
                                    <h4 class="pt-2"> &nbsp min.</h4>

                          </div>
                        </div>
                        <div class="icon">
                          <i class="ion ion-gear-a"></i>
                        </div>
                    </div>
                    <div class="card card-primary">
                      <div class="card-header bg-info p-1">
                        <h3 style="text-align: center;" class="m-0">STAN MASZYNY</h3>
                      </div>
                      <div class="card-body">
                        <button type="button" name="Praca" class="statusBtn btn btn-block btn-success p-3">
                          <h3 class="m-0">PRACA</h3>
                        </button>
                        <button type="button" name="Awaria" class="statusBtn btn btn-block btn-danger p-3">
                          <h3 class="m-0">AWARIA</h3>
                        </button>
                        <button type="button" name="Przezbrojenie" class="statusBtn btn btn-block btn-warning p-3">
                          <h3 class="m-0">PRZEZBROJENIE</h3>
                        </button>
                        <button type="button" name="Postój" class="statusBtn btn btn-block btn-light p-3">
                          <h3 class="m-0">PRZERWA</h3>
                        </button>
                        
                      </div>
                      <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-8">
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Produkowana referencja: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="referenceNameAndDescription" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-clock"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Referencyjny Czas produkcji: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="referenceProductionTime" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-chart-bar"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Aktualny czas produkcji: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="actualProductionTime" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="info-box">
                        <div class="info-box-content">
                          <span class="info-box-text">
                            <h2><b>Pozostało: </b></h2>
                          </span>
                          <span class="info-box-number">
                            <h3 id="referenceProgress" class="mb-0">
                            </h3>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card card-primary">
                        <div class="card-body">
                          <button type="button" class="btn btn-block btn-success p-3" data-toggle="modal"
                            data-target="#referenceConfirmModal">
                            <h3 class="m-0">REF. GOTOWA</h3>
                          </button>
                        </div>
                        <!-- /.card-body -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <script>
        setActDate()
        setInterval(setActDate, 1000)
        function toTimeString(UnixTime) {
          if (UnixTime < 0)
            return false
          var hours = Math.floor(UnixTime / 3600) % 24
          var minutes = Math.floor(UnixTime / 60) % 60
          var seconds = Math.floor(UnixTime) % 60
          var resString = "";
          if (hours > 0)
            resString += hours + " godz. "
          if (minutes > 0)
            resString += minutes + " min. "
          resString += seconds + " sek."
          return resString
        }
        function machineDataPolling() {
          $.ajax({
            url: '/machineData',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

              let machineData = JSON.parse(response)
              if (machineData.user == "")
                window.location.reload();

              let refNameAndString = machineData.reference.name
              if(machineData.reference.description != "")
                refNameAndString+=" - " + machineData.reference.description
              $('#referenceNameAndDescription').text(refNameAndString)

              let stateToTime = new Date(machineData.machineStateToTime).getTime();
              let stateFromTime = new Date(machineData.machineStateFromTime).getTime();

              let refToTime = new Date(machineData.reference.toTime).getTime();
              let refFromTime = new Date(machineData.reference.fromTime).getTime();
              let refTargetTime = new Date(machineData.reference.targetTime).getTime();

              if (((stateToTime - stateFromTime) / 60000).toFixed(1) == 0)
                $("#machineStateTimeDiv").text("0.0")
              else
                $("#machineStateTimeDiv").text(((stateToTime - stateFromTime) / 60000).toFixed(1))
            },
            error: function (err) {
              console.log("Błąd: " + err)
            },
            complete: function () {
              setTimeout(machineDataPolling, 5000)
            },
            timeout: 2000
          });
        }
        
        function referencesDataPolling() {
      $.ajax({
        url: '/oee/referencesWithMachineStates',
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
          const resJSON = JSON.parse(response)
          const references = resJSON.referencesWithStates
          const actRef = references[references.length-1]
          const actRefWorkStates = actRef.machineStates.filter((obj)=> obj.state == "Praca")
          let workTime = 0;
            for (var i = 0; i < actRefWorkStates.length; i++) {
              const actWorkState = actRefWorkStates[i]
              const fromTime = new Date(actWorkState.fromTime).getTime() / 1000
              const toTime = new Date(actWorkState.toTime).getTime() / 1000
              workTime+= (toTime - fromTime)
            }
            $('#referenceProductionTime').text(toTimeString(actRef.targetTime))
            $('#actualProductionTime').text(toTimeString(workTime))
            let referenceLeftTime = actRef.targetTime - workTime
            if (referenceLeftTime < 0)
                 referenceLeftTime = 0
             $('#referenceProgress').text(toTimeString(referenceLeftTime))
        },
        error: function (err) {
          console.log("Błąd: " + err)
        },
        complete: function () {
              setTimeout(referencesDataPolling, 5000)
            },
        timeout: 2000
      });
    }
        machineDataPolling()
        referencesDataPolling()
        $(".statusBtn").on("click", (e) => {
          console.log(e.target)
          changeStatus(e.target.getAttribute('name'))
        })
        $("#referenceFinishedBtn").on("click", finishReference)
        function finishReference() {
          $.ajax({
            url: '/finishReference',
            type: 'POST',
            success: function (response) {
              location.reload()
            },
            timeout: 2000
          });
        }
        function changeStatus(state) {
          $.ajax({
            url: '/changeMachineState',
            type: 'POST',
            data: {
              "machineState": state
            },
            success: function (response) {
              location.reload()

            },
            timeout: 2000
          });
        }
      </script>
      <style>
        button>* {
          pointer-events: none;
        }
      </style>
</body>