<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>ECI ERP</title>

  <link rel="icon" href="../img/eci_logo.png">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../css/adminlte.css">
  <!-- Google Font: Source Sans Pro  -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4  -->
  <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App  -->
  <script src="../js/adminlte.min.js"></script>
  <!-- Moment.js -->
  <script src="../plugins/moment/moment-with-locales.js"></script>

  <script src="./js/actTime.js"></script>
</head>

<body>
  <!-- MODAL -->
  <div class="modal fade" id="ReferenceConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Potwierdź ukończenie referencji!</h5>
        </div>
        <div class="modal-body">
          Czy produkacja referencji została ukończona?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie, jeszcze nie!</button>
          <button type="button" id="ReferenceFinishedBtn" class="btn btn-primary">Tak, zakończona!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- REAL BODY -->
  <div class="content-wrapper m-0" style="min-height: 300px;">
    <div class="container-fluid pt-2">
      <div class="row" style="min-height: 50px;">
        <div class="col-12">
          <div class="row container-fluid p-2 mb-3 mx-0 rounded border bg-white">
            <img src="../img/eci_logo_big.png" style="max-height: 75px;">
            <div class="flex-grow-1">
              <div class="row">
                <h2 class="ml-4">Electrical Components International</h2>
              </div>
              <div class="row">
                <h3 class="ml-4">Operator: <%= locals.User %>
                    </h2>
                    <h3 id="ActualDate" class="ml-auto mr-2">
                      </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <% if(locals.MachineState=="Praca" ) { %>
            <div id="MachineStateDiv" class="small-box bg-success">
              <% } else if(locals.MachineState=="Awaria" ) { %>
                <div id="MachineStateDiv" class="small-box bg-danger">
                  <% } else if(locals.MachineState=="Postój" ) { %>
                    <div id="MachineStateDiv" class="small-box bg-light">
                      <% } %>
                        <div class="inner">
                          <h3>Stan maszyny:</h3>
                          <div class="row">
                            <% if(locals.MachineState=="Praca" ) { %>
                              <h4 class="pt-2 ml-2">Praca: &nbsp</h4>
                              <% } else if(locals.MachineState=="Awaria" ) { %>
                                <h4 class="pt-2 ml-2">Awaria: &nbsp</h4>
                                <% } else if(locals.MachineState=="Postój" ) { %>
                                  <h4 class="pt-2 ml-2">Postój: &nbsp</h4>
                                  <% } %>
                                    <h3 id="MachineStateTimeDiv">
                                      <% if
                                        (((locals.MachineStateToTime-locals.MachineStateFromTime)/60000).toFixed(1)==0 )
                                        { %>
                                        0.0
                                        <% } else { %>
                                          <%= ((locals.MachineStateToTime-locals.MachineStateFromTime)/60000).toFixed(1)
                                            %>
                                            <% } %>
                                    </h3>
                                    <h4 class="pt-2"> &nbsp min.</h4>

                          </div>
                        </div>
                        <div class="icon">
                          <i class="ion ion-gear-a"></i>
                        </div>
                    </div>
                    <div class="card card-primary">
                      <div class="card-header bg-info">
                        <h3 style="text-align: center;" class="m-0">STAN MASZYNY</h3>
                      </div>
                      <div class="card-body">
                        <button type="button" name="Praca" class="StatusBtn btn btn-block btn-success p-3">
                          <h3 class="m-0">PRACA</h3>
                        </button>
                        <button type="button" name="Awaria" class="StatusBtn btn btn-block btn-danger p-3">
                          <h3 class="m-0">AWARIA</h3>
                        </button>
                        <button type="button" name="Postój" class="StatusBtn btn btn-block btn-light p-3">
                          <h3 class="m-0">POSTÓJ</h3>
                        </button>
                      </div>
                      <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-8">
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Produkowana referencja: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="ReferenceNameAndDescription" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-clock"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Referencyjny Czas produkcji: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="ReferenceProductionTime" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="far fa-chart-bar"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">
                        <h2><b>Aktualny czas produkcji: </b></h2>
                      </span>
                      <span class="info-box-number">
                        <h3 id="ActualProductionTime" class="mb-0">
                        </h3>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="info-box">
                        <div class="info-box-content">
                          <span class="info-box-text">
                            <h2><b>Pozostało: </b></h2>
                          </span>
                          <span class="info-box-number">
                            <h3 id="ReferenceProgress" class="mb-0">
                              68%
                            </h3>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card card-primary">
                        <div class="card-body">
                          <button type="button" class="btn btn-block btn-success p-3" data-toggle="modal"
                            data-target="#ReferenceConfirmModal">
                            <h3 class="m-0">REF. GOTOWA</h3>
                          </button>
                        </div>
                        <!-- /.card-body -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <script>
        SetActData()
        setInterval(SetActData, 1000)
        function TimeString(UnixTime){
          if (UnixTime < 0 )
            return false
          var hours = Math.floor(UnixTime/3600) % 24
          var minutes = Math.floor(UnixTime/60) % 60
          var seconds = Math.floor(UnixTime) % 60
          var resString = "";
          if(hours>0)
            resString+= hours + " godz. "
          if(minutes>0)
            resString+= minutes + " min. "
          resString+= seconds + " sek."
          return resString
        }
        function MachineDataPolling() {
          $.ajax({
            url: '/MachineData',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

              var MachineData = JSON.parse(response)
              if (MachineData.User == "")
                window.location.reload();

              $('#ReferenceNameAndDescription').text(MachineData.ReferenceName + " - " + MachineData.ReferenceDescription)

              if (((MachineData.MachineStateToTime - MachineData.MachineStateFromTime) / 60000).toFixed(1) == 0)
                $("#MachineStateTimeDiv").text("0.0")
              else
                $("#MachineStateTimeDiv").text(((MachineData.MachineStateToTime - MachineData.MachineStateFromTime) / 60000).toFixed(1))

              $('#ReferenceProductionTime').text(TimeString(MachineData.ReferenceTargetTime))
              var ActReferenceTime = (MachineData.ReferenceToTime - MachineData.ReferenceFromTime)/1000;
              var ActReferenceTimeString = TimeString(ActReferenceTime) + '\t('
              ActReferenceTimeString+=(ActReferenceTime/MachineData.ReferenceTargetTime * 100).toFixed(0) + '%)'
              $('#ActualProductionTime').text(ActReferenceTimeString)
              var ReferenceLeftTime = MachineData.ReferenceTargetTime - ActReferenceTime
              $('#ReferenceProgress').text(TimeString(ReferenceLeftTime))
            },
            error: function (err) {
              console.log("Błąd: " + err)
            },
            complete: function () {
              setTimeout(MachineDataPolling, 500)
            },
            timeout: 2000
          });
        }
        MachineDataPolling()

        $(".StatusBtn").on("click", (e) => {
          console.log(e.target)
          ChangeStatus(e.target.getAttribute('name'))
        })
        $("#ReferenceFinishedBtn").on("click", FinishReference)
        function FinishReference() {
          $.ajax({
            url: '/FinishReference',
            type: 'POST',
            success: function (response) {
              location.reload()
            },
            timeout: 2000
          });
        }
        function ChangeStatus(state) {
          $.ajax({
            url: '/ChangeMachineState',
            type: 'POST',
            data: {
              "MachineState": state
            },
            success: function (response) {
              location.reload()

            },
            timeout: 2000
          });
        }
      </script>
      <style>
        button>* {
          pointer-events: none;
        }
      </style>
</body>